.carousel{

    margin-right: auto;
    margin-left: auto;
    max-width: 800px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}

.carousel-caption {
    position: absolute;
    color: gray;

  }

.d-block{
    height: 450px;
    border-radius: 50px;
    background-color: white;
    
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1.6s;
}

.carousel-control-next, .carousel-indicators,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(70%);
}